@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  width: 100%;
}
html,
body {
  min-height: 100%;
  position: relative;
  font-size: 0.833333rem;
}
input,
textarea {
  -webkit-appearance: none;
}
.wrapper {
  width: 26.66667rem;
  min-width: 13.333335rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.display-flex {
  display: flex;
  display: -webkit-flex;
}
[class^="icon-"] {
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.icon-position,
.icon-phone {
  width: 1.166666rem;
  height: 1.166666rem;
  background-image: url(../img/icon_position.png);
}
.icon-phone {
  background-image: url(../img/icon_phone.png);
}
.header {
  height: 3.125rem;
  background-color: #0096fd;
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  color: #fff;
}
.header h1 {
  font-size: 1.291666rem;
  flex: 1;
  -webkit-flex: 1;
  font-weight: normal;
}
.header a {
  font-size: 1rem;
  color: #fff;
}
.mine-header {
  justify-content: space-between;
  padding: 0 1.166666rem;
}
.icon-exit {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/icon_exit.png);
}
.icon-back,
.icon-close {
  width: 3.125rem;
  height: 3.125rem;
  background-image: url(../img/icon_back.png);
  flex: 0 0 3.125rem;
  -webkit-flex: 0 0 3.125rem;
}
.icon-close {
  background-image: url(../img/icon_close.png);
}
.article-con .article-header-img {
  overflow: hidden;
  height: 20rem;
}
.article-con .article-header-img img {
  height: 100%;
}
.article-con .article-title {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 100%;
  padding: 0 1.666666rem;
  color: #333333;
  font-size: 1.083333rem;
}
.article-con .article-title .article-title-text {
  width: 16.75rem;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.star-box {
  font-size: 0;
  background-image: url(../img/icon_star_while.png);
  background-repeat: repeat-x;
  -webkit-background-size: 20px;
  background-size: 20px;
  width: 100px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}
.star-box .star {
  overflow: hidden;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/icon_star.png);
  background-repeat: repeat-x;
  -webkit-background-size: 20px;
  background-size: 20px;
  position: absolute;
  left: 0;
}
.article-star {
  position: absolute;
  right: 1.666666rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bor-big-after {
  margin-bottom: 0.708333rem;
  position: relative;
}
.bor-big-after:after {
  content: '';
  display: block;
  height: 0.708333rem;
  margin-bottom: -0.708333rem;
  background-color: #f8f8f8;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bor-small-after {
  position: relative;
}
.bor-small-after:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #eaeaea;
}
.bor-small-before {
  position: relative;
}
.bor-small-before:before {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #3daffd;
}
.contact-item-box .contact-item {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.583333rem;
  color: #555555;
  font-size: 0.875rem;
  position: relative;
}
.contact-item-box .contact-item span {
  margin-left: 0.625rem;
}
.contact-item-box .contact-item:before {
  content: '';
  display: block;
  width: 1.166666rem;
  height: 1.166666rem;
  background-image: url(../img/icon_right_sj_gray.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact-item-box .contact-item:active {
  background-color: #eee;
}
.content-item {
  padding: 1.166666rem 1.666666rem;
}
.content-item h2 {
  font-weight: normal;
  font-size: 1rem;
}
.content-item h2 span {
  font-size: 0.833333rem;
}
.content-item p {
  padding-top: 0.625rem;
  color: #777777;
  font-size: 0.875rem;
  line-height: 1.8;
}
.comment {
  padding: 1.125rem 1.666666rem;
  overflow: hidden;
}
.comment h2 {
  font-weight: normal;
  font-size: 1rem;
}
.comment h2 span {
  font-size: 0.833333rem;
}
.comment .comment-item {
  padding: 1.041666rem 0;
  display: flex;
  display: -webkit-flex;
}
.comment .comment-item .comment-head {
  flex: 0 0 2.166666rem;
  -webkit-flex: 0 0 2.166666rem;
  width: 2.166666rem;
  margin-right: 0.916666rem;
}
.comment .comment-item .comment-content {
  flex: 1;
  -webkit-flex: 1;
  color: #555555;
  font-size: 0.875rem;
}
.comment .comment-item .comment-content .comment-star {
  position: relative;
  margin: 0.416666rem 0;
}
.serve-title {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2.416666rem 0 0;
  background-color: #0096fd;
}
.serve-title li {
  width: auto;
  font-size: 1rem;
  color: #fff;
  padding: 0 0.75rem;
  position: relative;
}
.serve-title li a {
  color: #fff;
  display: block;
}
.serve-title li.on:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5ab6ff;
  height: 0.333333rem;
}
.slide-mask {
  width: 2.416666rem;
  height: 3.416666rem;
  position: absolute;
  right: 0rem;
  top: 1px;
  background-color: #0096fd;
  z-index: 66;
}
.icon-slide {
  width: 0.583333rem;
  height: 0.916666rem;
  background-image: url(../img/icon_right_sj.png);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.75rem;
}
.serve-item li {
  padding: 1.875rem 1.583333rem 1.541666rem;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.serve-item li .serve-icon {
  width: 3.416666rem;
  height: 3.416666rem;
  margin-right: 1.041666rem;
  flex: 0 0 3.416666rem;
  -webkit-flex: 0 0 3.416666rem;
}
.serve-item li .serve-con {
  flex: 1;
  -webkit-flex: 1;
}
.serve-item li .serve-con dt {
  font-size: 1.083333rem;
  color: #333333;
}
.serve-item li .serve-con dt span {
  vertical-align: middle;
  display: inline-block;
}
.serve-item li .serve-con dd p {
  color: #777777;
  font-size: 0.875rem;
  margin-top: 0.3rem;
}
.serve-item li .serve-btn {
  width: 3.916666rem;
  flex: 0 0 3.916666rem;
  -webkit-flex: 0 0 3.916666rem;
  height: 1.958333rem;
  line-height: 1.958333rem;
  text-align: center;
  color: #fff;
  font-size: 1.083333rem;
  background-color: #fb6e28;
  -webkit-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
}
.clip {
  color: #ff8a00;
  font-size: 1rem;
}
.icon-putong {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url(../img/icon_pu.png);
  margin-right: 0.208333rem;
}
.icon-ka-col,
.icon-ka {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/icon_ka_col.png);
  margin-left: -0.25rem;
}
.icon-ka {
  background-image: url(../img/icon_ka.png);
}
.goods-title {
  height: 3.875rem;
  line-height: 3.875rem;
  padding: 0 1.5rem;
  font-size: 1.083333rem;
  color: #333333;
  background-color: #f8f8f8;
  display: flex;
  display: -webkit-flex;
}
.goods-title .goods-name {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.goods-title .goods-name span {
  vertical-align: middle;
  display: inline-block;
}
.goods-title .goods_num {
  width: 3rem;
  flex: 0 0 3rem;
  -webkit-flex: 0 0 3rem;
  text-align: right;
}
.goods-item {
  margin: 0.75rem;
  padding: 1.375rem;
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.goods-item dl {
  width: 10.541666rem;
  height: 9.791666rem;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  text-align: center;
}
.goods-item dl dt {
  font-size: 0.875rem;
  color: #333333;
  line-height: 2.708333rem;
}
.goods-item dl dd {
  height: 5.75rem;
  display: inline-block;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.goods-item dl dd p {
  color: #fa6b15;
  font-size: 1.291666rem;
}
.goods-item dl dd img {
  width: 5.75rem;
}
.goods-info {
  margin: 2.083333rem 0;
  text-align: center;
  color: #666666;
  font-size: 0.875rem;
}
.icon-sun {
  background-image: url(../img/icon_sun_orange.png);
  width: 1.583333rem;
  height: 1.583333rem;
  margin-right: 0.416666rem;
}
.btn-box {
  padding: 2.291666rem 1.583333rem;
  overflow: hidden;
  background-color: #f8f8f8;
}
.btn-long,
.btn-short {
  width: 100%;
  font-size: 1.291666rem;
  color: #ffffff;
  background-color: #fb6e28;
  -webkit-border-radius: 0.208333rem;
  -moz-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
  height: 3rem;
  border: none;
  font-family: "microsoft yahei";
  outline: none;
}
.btn-short {
  height: 1.875rem;
  width: 5.75rem;
  font-size: 1.083333rem;
}
.header-index {
  height: 2.5rem;
  font-size: 1rem;
}
.icon-address {
  width: 2.791666rem;
  height: 2.458333rem;
  background-image: url(../img/icon_address.png);
}
.address-text {
  margin-left: -0.416666rem;
  flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
}
.address-text:after {
  content: '';
  display: inline-block;
  width: 0.666666rem;
  height: 0.666666rem;
  background-image: url(../img/icon_down.png);
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 0.208333rem;
  overflow: hidden;
}
.focus {
  height: 12.5rem;
}
.focus .swiper-pagination-bullet {
  width: 0.5rem !important;
  height: 0.5rem !important;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 1;
}
.focus .swiper-pagination-bullet-active {
  background-color: #fff46b;
}
.menu {
  margin-top: 1.958333rem;
}
.menu ul {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu ul li {
  flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  text-align: center;
  margin-bottom: 1.83333rem;
}
.menu ul li .menu-icon {
  width: 2.666666rem;
  height: 2.666666rem;
  position: relative;
  display: inline-block;
}
.menu ul li .menu-icon.menu-star:after {
  content: '';
  display: block;
  background-image: url(../img/icon_jing.png);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: -0.333333rem;
  top: -0.333333rem;
  -webkit-background-size: cover;
  background-size: cover;
}
.menu ul li .menu-name {
  width: 100%;
  display: block;
  color: #555555;
  overflow: hidden;
  padding-top: 0.416666rem;
  font-size: 0.916666rem;
}
.index-ads {
  padding: 1.25rem;
  overflow: hidden;
}
.footer {
  height: 3.541666rem;
}
.nav-footer {
  height: 3.541666rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #f8f8f8;
  width: 100%;
  background-color: #fff;
  z-index: 666;
}
.nav-footer ul {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.nav-footer li {
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
}
.nav-footer li .footer-nav-icon {
  width: 2rem;
  height: 2rem;
}
.nav-footer li .footer-nav-text {
  width: 100%;
  display: block;
  color: #777777;
  font-size: 0.791666rem;
}
.nav-footer li.on .footer-nav-text {
  color: #53afff;
}
.nav-footer li.on .icon-car {
  background-image: url(../img/foot_nav01_on.png);
}
.nav-footer li.on .icon-shop {
  background-image: url(../img/foot_nav02_on.png);
}
.nav-footer li.on .icon-me {
  background-image: url(../img/foot_nav03_on.png);
}
.icon-car {
  background-image: url(../img/foot_nav01.png);
}
.icon-shop {
  background-image: url(../img/foot_nav02.png);
}
.icon-me {
  background-image: url(../img/foot_nav03.png);
}
.this-tabs {
  width: 100%;
  height: 3.75rem;
  overflow: hidden;
  background-color: #fff;
}
.this-tabs ul {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}
.this-tabs ul li {
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  height: 3.75rem;
  line-height: 3.75rem;
  position: relative;
}
.this-tabs ul li a {
  height: 100%;
  display: block;
  color: #555555;
  font-size: 1.083333rem;
}
.this-tabs ul li a.on:after {
  height: 0.375rem;
  background-color: #6bc3ff;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.this-tabs ul li a:after {
  background-color: #D5D5D5;
}
.this-tabs ul li:after {
  content: '';
  display: block;
  width: 1px;
  height: 1.416666rem;
  background-color: #D5D5D5;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: scaleX(0.5) translateY(-50%);
  -moz-transform: scaleX(0.5) translateY(-50%);
  -ms-transform: scaleX(0.5) translateY(-50%);
  -o-transform: scaleX(0.5) translateY(-50%);
  transform: scaleX(0.5) translateY(-50%);
}
.this-tabs ul li:last-child:after {
  display: none;
}
.seller-tabs {
  padding: 0 0.75rem;
}
.seller-item {
  padding: 1.875rem 2rem 1.875rem 1.25rem;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
}
.seller-item .seller-item-img {
  width: 7.708333rem;
  height: 5.833333rem;
  flex: 0 0 7.708333rem;
  -webkit-flex: 0 0 7.708333rem;
  margin-right: 1rem;
}
.seller-item .seller-item-img img {
  height: 100%;
}
.seller-item .seller-item-con {
  flex: 1;
  -webkit-flex: 1;
}
.seller-item .seller-item-con h2 {
  font-size: 1.083333rem;
  font-weight: normal;
}
.seller-item .seller-item-con h2 .seller-name {
  color: #333333;
  vertical-align: middle;
  width: 13.25rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seller-item .seller-item-con p {
  margin-top: 0.333333rem;
}
.seller-item .seller-item-con .serve-project {
  color: #666666;
  font-size: 0.875rem;
}
.seller-item .seller-item-con .seller-address {
  font-size: 0.875rem;
  color: #999999;
}
.seller-item .seller-item-con .seller-address i {
  margin: 0 0.416666rem;
}
.gray-wrapper {
  background: #f8f8f8;
}
.big-code {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 333;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.big-code .big-code-img {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.goods-order-item {
  height: 4.166666rem;
  line-height: 4.166666rem;
  padding-left: 1.666666rem;
  display: flex;
  display: -webkit-flex;
  background-color: #fff;
}
.goods-order-item.goods-order-end {
  justify-content: flex-end;
  padding-right: 1.666666rem;
}
.goods-order-item.goods-order-end .clip {
  color: #666666;
}
.goods-order-item.goods-order-end .clip span {
  color: #333333;
  margin-right: 1.666666rem;
}
.goods-order-item .goods-order-l {
  display: inline-block;
  width: 50%;
  flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  font-size: 1rem;
  color: #333333;
}
.goods-order-item .goods-order-r {
  width: 50%;
  flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  height: 2.083333rem;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  text-align: right;
  padding-right: 1.916666rem;
}
.goods-order-item .count-tool {
  padding-right: 0;
}
.goods-order-item .count-tool .count-minus,
.goods-order-item .count-tool .count-add {
  float: right;
  width: 3.666666rem;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.goods-order-item .count-tool .count-input {
  width: 3.166666rem;
  border: 1px solid #f8f8f8;
  height: 2.083333rem;
  line-height: 2.083333rem;
  text-align: center;
  font-size: 1.291666rem;
  color: #999999;
  -webkit-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
  float: right;
  margin-top: 1.041666rem;
}
.goods-order-item .goods-integral {
  color: #fb6b15;
}
.goods-order-item .goods-order-phone {
  color: #333333;
}
.goods-order-item .goods-item-other {
  padding-left: 0;
}
.icon-minus,
.icon-add {
  width: 0.75rem;
  height: 0.75rem;
}
.icon-minus {
  background-image: url(../img/icon_minus.png);
}
.icon-add {
  background-image: url(../img/icon_add.png);
}
.icon-heart {
  width: 0.916666rem;
  height: 0.958333rem;
  margin-right: 0.416666rem;
  background-image: url(../img/icon_heart.png);
}
.goods-order-mar {
  margin-bottom: 2.25rem;
}
.goods-item-other {
  color: #4ecaa3;
  font-size: 0.791666rem;
  padding-left: 1.541666rem;
}
.btn-goods-box {
  margin-top: 4.166666rem;
}
.goods-content-item {
  height: 4.458333rem;
  line-height: 4.458333rem;
}
.state {
  padding: 1.666666rem;
}
.state dt {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.625rem;
}
.state dd {
  font-size: 0.875rem;
  line-height: 1.666666rem;
}
.form-wrapper {
  padding: 3.666666rem 2.291666rem;
}
.form-wrapper .card-title {
  display: flex;
  display: -webkit-flex;
  font-size: 0.875rem;
  color: #999999;
}
.form-wrapper .card-title span {
  flex: 1;
  -webkit-flex: 1;
  line-height: 1.416666rem;
}
.icon-sun-green {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2.5rem;
  -webkit-flex: 0 0 2.5rem;
  margin-right: 0.583333rem;
  background-image: url(../img/icon_sun.png);
}
.card-form {
  margin: 3.666666rem 0;
}
.input-item {
  margin: 0 0.625rem 1.458333rem;
  position: relative;
  height: 3rem;
}
.input-item i {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0.625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-val .this-input {
  width: 11.583333rem;
}
.this-input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border: 0.083333rem solid #c7e5ff;
  -webkit-border-radius: 0.208333rem;
  -moz-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
  color: #bfbfbf;
  font-size: 1.083333rem;
  padding-left: 2.916666rem;
  outline: none;
  overflow: hidden;
}
.icon-code {
  background-image: url(../img/icon_code.png);
}
.btn-long-blue {
  background-color: #259efd;
}
.card-btn-box {
  margin-top: 6.666666rem;
}
.card-other {
  margin-top: 2.291666rem;
  text-align: center;
  color: #999999;
  font-size: 0.875rem;
}
.card-other span {
  display: inline-block;
  vertical-align: middle;
}
.card-other a {
  color: #fa884b;
  text-decoration: underline;
}
.icon-wran {
  width: 1.333333rem;
  height: 1.333333rem;
  background-image: url(../img/icon_warn.png);
  margin-right: 0.208333rem;
}
.sign-head {
  width: 100%;
  height: 12.5rem;
}
.login-btn-box {
  margin-top: 5.083333rem;
}
.icon-user {
  background-image: url(../img/icon_sign_user.png);
}
.icon-sign-phone {
  background-image: url(../img/icon_sign_phone.png);
}
.icon-val {
  background-image: url(../img/icon_sign_val.png);
}
.icon-pwd {
  background-image: url(../img/icon_sign_pwd.png);
}
.btn-short-val {
  background-color: #86c7fb;
  display: inline-block;
  width: 8.166666rem;
  height: 2.833333rem;
  float: right;
  text-align: center;
  line-height: 2.833333rem;
}
.btn-short-val.active {
  background-color: #ccc;
}
.agreement {
  color: #bfbfbf;
  margin: 1.666666rem 0 2.5rem;
}
.agreement span {
  vertical-align: middle;
}
.agreement a {
  color: #bfbfbf;
}
.agreement .checkbox {
  width: 0.916666rem;
  height: 0.916666rem;
  margin: 0 0.216666rem;
  background-image: url(../img/icon_checkbox.png);
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.agreement .checkbox.active {
  background-image: url(../img/icon_checked.png);
}
.rad-cntnt {
  width: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: #333333;
}
.rad-cntnt b {
  display: block;
  font-weight: normal;
}
.rad-cntnt span {
  color: #ff5f08;
  font-size: 1.291666rem;
}
.member-item {
  background-color: #fff;
  padding: 1.041666rem 1rem 0.7rem;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 1.041666rem;
}
.member-item:before {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #eaeaea;
}
.member-item:active {
  background-color: #ccc;
}
.member-item:first-child {
  margin-top: 1.791666rem;
}
.indicator {
  position: relative;
  text-align: center;
  flex: 0 0 7.333333rem;
  -webkit-flex: 0 0 7.333333rem;
}
.member-item-wrap {
  flex: 1;
  -webkit-flex: 1;
  margin-left: 1rem;
  position: relative;
}
.member-item-wrap strong {
  display: block;
  font-size: 1rem;
  color: #333333;
}
.member-item-wrap strong span {
  color: #0096fd;
  font-size: 1.291666rem;
}
.member-item-wrap p {
  margin: 0.625rem 0;
  color: #565656;
  font-size: 0.875rem;
}
.member-item-wrap:after {
  content: '';
  display: block;
  width: 1.166666rem;
  height: 1.166666rem;
  background-image: url(../img/icon_right_sj_gray.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1.5);
  -moz-transform: translateY(-50%) scale(1.5);
  -ms-transform: translateY(-50%) scale(1.5);
  -o-transform: translateY(-50%) scale(1.5);
  transform: translateY(-50%) scale(1.5);
}
.xf-record-item {
  padding: 2.083333rem 1.041666rem 0;
  overflow: hidden;
}
.xf-record-item:last-child {
  padding-bottom: 2.083333rem;
}
.xf-record-item .xf-record-item-top {
  padding: 0 0.416666rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  font-size: 1rem;
}
.xf-record-item .xf-record-item-top span {
  color: #333333;
}
.xf-record-item .xf-record-item-top em {
  font-style: normal;
  color: #999999;
}
.xf-record-item .xf-record-item-wrap {
  margin-top: 0.625rem;
  background-color: #f8f8f8;
  border: 1px solid #bbbbbb;
  padding: 1.041666rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.xf-record-item .xf-record-item-wrap dl {
  flex: 1;
  -webkit-flex: 1;
}
.xf-record-item .xf-record-item-wrap dl dt {
  color: #333333;
  font-size: 1.25rem;
}
.xf-record-item .xf-record-item-wrap dl dd {
  margin-top: 0.833333rem;
  font-size: 1rem;
}
.xf-record-item .xf-record-item-wrap dl dd span {
  color: #0096fd;
  font-size: 1.166666rem;
  margin-right: 1.041666rem;
}
.small-btn {
  width: 3.916666rem;
  height: 2.083333rem;
  line-height: 2.083333rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  background-color: #0096fd;
  -webkit-border-radius: 0.208333rem;
  -moz-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
}
.swiper-slide-while {
  background-color: #fff;
}
.cz-record-box {
  padding: 1.041666rem 0.75rem;
}
.cz-record-box .cz-record-head {
  padding: 1.458333rem 2.666666rem;
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.cz-record-box .cz-record-head .cz-record-head-img {
  width: 5.041666rem;
  flex: 0 0 5.041666rem;
  -webkit-flex: 0 0 5.041666rem;
  height: 3.625rem;
  margin-right: 1.083333rem;
}
.cz-record-box .cz-record-head .cz-record-head-wrap {
  flex: 1;
  -webkit-flex: 1;
}
.cz-record-box .cz-record-head .cz-record-head-wrap h2 {
  font-size: 1.083333rem;
  color: #333;
  font-weight: normal;
}
.cz-record-box .cz-record-head .cz-record-head-wrap p {
  color: #666666;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}
.cz-record-box .cz-record-title {
  font-size: 0.958333rem;
  height: 3.333333rem;
  line-height: 3.333333rem;
  color: #666666;
}
.cz-record-table {
  width: 100%;
  text-align: center;
  border: 1px solid #d2d2d2;
}
.cz-record-table .cz-record-tr {
  flex-wrap: wrap;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 2.416666rem;
  vertical-align: middle;
  font-size: 0.958333rem;
}
.cz-record-table .cz-record-tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.cz-record-table .cz-record-td,
.cz-record-table .cz-record-th {
  flex: 1;
  -webkit-flex: 1;
  height: 2.416666rem;
  line-height: 2.416666rem;
  float: left;
  border-right: 1px solid #d2d2d2;
}
.cz-record-table .cz-record-td:last-child,
.cz-record-table .cz-record-th:last-child {
  border-right: none;
}
.cz-record-table .cz-record-th {
  background-color: #c7e8ff;
  color: #0096fd;
}
.cz-record-table .cz-record-td {
  color: #333333;
}
.code-list .goods-item {
  margin-top: 0;
}
.goods-head-info {
  height: 2.083333rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  padding: 0 1.5rem;
  width: 100%;
  margin-top: 0.833333rem;
}
.goods-head-info i {
  font-style: normal;
}
.goods-head-info span {
  color: #0096fd;
}
.goods-head-info em {
  font-style: normal;
  color: #565656;
}
.goods-item-null {
  padding: 10rem 0;
  text-align: center;
  font-size: 1.25rem;
  color: #333;
}
.ntegral-wrap li {
  padding: 1rem 1.25rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.083333rem;
  color: #333333;
}
.ntegral-wrap li dl {
  flex: 0 0 80%;
  -webkit-flex: 0 0 80%;
  line-height: 1.5rem;
}
.ntegral-wrap li dd {
  color: #999999;
  margin-top: 0.416666rem;
}
.ntegral-wrap li div {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.ntegral-wrap li div span {
  color: #3cbc45;
}
.top {
  position: relative;
  padding: 0.5rem 1.166666rem 1.25rem;
  overflow: hidden;
  background-color: #0096fd;
}
.top dl {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.top dt {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  width: 3.25rem;
  height: 3.25rem;
  margin-right: 0.708333rem;
}
.top dd {
  font-size: 1.083333rem;
  color: #ffffff;
}
.top dd h2 {
  font-weight: normal;
  line-height: 1.5rem;
}
.top dd p {
  font-size: 0.791666rem;
}
.top dd p span {
  font-size: 0.958333rem;
}
.seller-top dt {
  width: 5rem;
  height: 3.75rem;
}
.seller-top dt img {
  height: 100%;
}
.seller-top dd p {
  line-height: 1.666666rem;
}
.member-info {
  height: 3.25rem;
  background-color: #179ffd;
  padding: 0 1.25rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.791666rem;
  color: #fff;
}
.member-info .member-info-fr {
  font-size: 0.958333rem;
}
.member-info .member-info-fr span {
  display: inline-block;
  vertical-align: middle;
}
.icon-ka-while {
  background-image: url(../img/icon_ka_while.png);
  width: 2rem;
  height: 2rem;
}
.main-item > a {
  padding: 0.833333rem 1.791666rem;
  display: block;
  width: 100%;
  color: #333333;
  font-size: 1.083333rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.main-item > a span {
  display: block;
}
.main-item > a em {
  display: block;
  width: 100%;
  font-style: normal;
  color: #777777;
  font-size: 0.791666rem;
}
.main-item > a:active {
  background-color: #eee;
}
.main-item > a i {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  margin-right: 0.416666rem;
}
.icon-code-mine {
  background-image: url(../img/icon_code_mine.png);
}
.icon-xf {
  background-image: url(../img/icon_xf.png);
}
.icon-cz {
  background-image: url(../img/icon_cz.png);
}
.icon-jf {
  background-image: url(../img/icon_jf.png);
}
.icon-md {
  background-image: url(../img/icon_md.png);
}
.comment-seller-head {
  padding: 1.25rem 1.458333rem;
}
.comment-seller-head dl {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.comment-seller-head dt {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  width: 5rem;
  height: 3.75rem;
}
.comment-seller-head dt img {
  height: 100%;
}
.comment-seller-head dd {
  font-size: 1.083333rem;
  color: #333333;
  margin-left: 1.041666rem;
  flex: 1;
  -webkit-flex: 1;
}
.comment-wrap {
  padding: 0 1.458333rem;
}
.comment-wrap .comment-goods-head {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 4.166666rem;
}
.comment-wrap .comment-goods-head .comment-goods-name {
  font-size: 1rem;
  color: #0096fd;
  margin-left: 0.625rem;
}
.comment-wrap .comment-goods-head .comment-goods-time {
  color: #999999;
  font-size: 0.708333rem;
}
.icon-goods {
  width: 1.791666rem;
  height: 1.791666rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
}
.icon-goods img {
  height: 100%;
}
.icon-goods span {
  display: inline-block;
  vertical-align: middle;
}
.comment-textarea textarea {
  padding: 0.625rem;
  width: 100%;
  min-height: 5.333333rem;
  border: 1px solid #f3f3f3;
  font-size: 0.875rem;
  outline: none;
  color: #999999;
  resize: none;
}
.momment-btn-box {
  margin-top: 7.5rem;
}
.icon-seller-phone {
  background-image: url(../img/icon_seller_phone.png);
  width: 1.166666rem;
  height: 1.166666rem;
  margin-right: 0.416666rem;
}
.seller-admin-wrap {
  padding-top: 1.25rem;
}
.seller-admin-item {
  padding: 1.666666rem 2.083333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
.seller-admin-item a {
  flex: 0 0 33.3%;
  -webkit-flex: 0 0 33.3%;
  font-size: 1.083333rem;
  text-align: center;
  color: #333333;
}
.seller-admin-item a span {
  display: block;
  width: 100%;
}
.seller-admin-item a i {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.833333rem;
}
.seller-admin-item a:active {
  background-color: #eee;
}
.icon-ver-code {
  background-image: url(../img/icon_ver.png);
}
.icon-order {
  background-image: url(../img/icon_order.png);
}
.icon-ver-record {
  background-image: url(../img/icon_record.png);
}
.icon-shop-info {
  background-image: url(../img/icon_shop.png);
}
.seller-info-list .seller-info-item {
  padding: 1rem 1.375rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.seller-info-list .seller-info-item span {
  color: #333333;
  font-size: 1.083333rem;
  width: 6.25rem;
  flex: 0 0 6.25rem;
  -webkit-flex: 0 0 6.25rem;
}
.seller-info-list .seller-info-item p {
  color: #555555;
  font-size: 0.875rem;
  padding-left: 1rem;
}
.seller-info-list .seller-info-item img {
  width: 4.333333rem;
  height: 3.166666rem;
}
.seller-vel-list .seller-vel-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.seller-vel-list .seller-vel-item a {
  width: 100%;
  padding: 1.25rem 2.5rem;
  display: block;
  color: #333333;
  font-size: 1.083333rem;
}
.seller-vel-list .seller-vel-item a:active {
  background-color: #eee;
}
.seller-vel-list .seller-vel-item span {
  vertical-align: middle;
  display: inline-block;
}
.seller-vel-list .seller-vel-item i {
  width: 1.916666rem;
  height: 1.916666rem;
  margin-right: 0.833333rem;
}
.icon-vel-code {
  background-image: url(../img/icon_ver_code.png);
}
.icon-import-val {
  background-image: url(../img/icon_val.png);
}
.import-val {
  padding: 2.5rem 1.5rem;
  overflow: hidden;
}
.import-val .import-input {
  width: 100%;
  padding-left: 1em;
  height: 3.333333rem;
  line-height: 3.333333rem;
  color: #999999;
  font-size: 1.083333rem;
  border: 1px solid #eee;
  outline: none;
  margin-bottom: 2.5rem;
}
.import-val .import-btn-box {
  text-align: center;
}
.import-val .import-btn-box .btn-short {
  font-size: 1.291666rem;
  width: 7.083333rem;
  height: 2.916666rem;
}
.import-val .import-btn-box .btn-short.btn-short-sub {
  background-color: #0096fd;
  margin-right: 0.833333rem;
}
.import-val .import-btn-box .btn-short.btn-short-canle {
  background-color: #b0b2b4;
}
.order-sort {
  margin-bottom: 1.25rem;
  padding: 0 2rem;
  overflow: hidden;
  text-align: right;
}
.order-sort a {
  color: #333333;
  font-size: 0.875rem;
}
.order-sort a.on {
  color: #0096fd;
}
.order-sort em {
  font-style: normal;
  margin: 0 0.416666rem;
}
.order-list {
  padding: 1.25rem 0.833333rem;
}
.order-list .order-item {
  border: 1px solid #bbb;
  margin-bottom: 0.708333rem;
  position: relative;
}
.order-list .order-item .order-item-title {
  display: flex;
  display: -webkit-flex;
  height: 3.333333rem;
  border-bottom: 1px solid #bbb;
  background-color: #f8f8f8;
  align-items: center;
  padding: 0 0.625rem;
}
.order-list .order-item .order-item-title > img {
  width: 1.791666rem;
  height: 1.791666rem;
  margin-right: 0.625rem;
}
.order-list .order-item .order-item-title span {
  font-size: 1rem;
  color: #0096fd;
  display: inline-block;
  max-width: 10.416666rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-list .order-item .order-item-title em {
  margin-left: 1.041666rem;
  font-style: normal;
  color: #999999;
  font-size: 0.708333rem;
}
.order-list .order-item .order-item-title.order-item-title-toggle {
  border-bottom-color: transparent;
}
.order-list .order-item .order-item-title.order-item-title-toggle .icon-toggle {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.order-list .order-item .order-item-wrap-head {
  height: 2.833333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.458333rem 0 0.625rem;
}
.order-list .order-item .order-item-wrap-head dt {
  width: 1.416666rem;
  height: 1.416666rem;
  margin-right: 0.625rem;
  display: inline-block;
  vertical-align: middle;
}
.order-list .order-item .order-item-wrap-head dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  color: #333333;
}
.order-list .order-item .order-item-wrap-head span {
  color: #777777;
}
.order-list .order-item .order-item-wrap-content {
  padding: 0.75rem;
}
.order-list .order-item .order-item-wrap-content .order-comment-text {
  font-size: 0.875rem;
  color: #777777;
  line-height: 1.5rem;
}
.order-list .order-item .order-item-wrap-content .order-comment-text span {
  color: #333333;
}
.order-list .order-item .order-item-wrap-content .order-comment-textarea textarea {
  min-height: 3.166666rem;
  border: 1px solid #f3f3f3;
  padding: 0.625rem;
  color: #999999;
  font-size: 0.791666rem;
  width: 100%;
  outline: none;
  margin: 0.625rem 0;
  resize: none;
}
.order-list .order-item .order-item-total-info {
  padding: 0.833333rem 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.order-list .order-item .order-item-total-info > div {
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  padding: 0.625rem 0;
}
.order-list .order-item .order-item-total-info > div span {
  color: #6bc3ff;
  font-size: 1.291666rem;
}
.order-list .order-item .order-item-total-info > div p {
  color: #777777;
  font-size: 0.875rem;
  margin-top: 1rem;
}
.order-list .order-item .order-item-total-info > div.order-item-total-fl {
  border-right: 1px solid #eee;
}
.order-list .cz-record-table .cz-record-th {
  border-bottom: 1px solid #dddddd;
  background-color: #f8f8f8;
}
.btn-comment {
  width: 2.583333rem;
  height: 1.375rem;
  color: #ffffff;
  font-size: 0.875rem;
  border: none;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  outline: none;
}
.btn-reply {
  color: #fff;
  background-color: #4bb569;
}
.btn-comment-canle {
  background-color: #F8F8F8;
  color: #f9ae37;
  border: 1px solid #f9ae37;
  margin-left: auto;
  position: absolute;
  right: 3.041666rem;
  top: 1rem;
  z-index: 3;
}
.icon-toggle {
  width: 1.458333rem;
  height: 1.458333rem;
  background-image: url(../img/icon_toggle.png);
  margin-left: auto;
}
.order-comment-seller-reply {
  margin-top: 0.416666rem;
  -webkit-border-radius: 0.208333rem;
  -moz-border-radius: 0.208333rem;
  border-radius: 0.208333rem;
  padding: 0.416666rem 0.833333rem;
  position: relative;
  background-color: #f0f0f0;
  font-size: 0.791666rem;
  color: #777777;
  font-family: simhei;
  line-height: 1.25rem;
}
.order-comment-seller-reply:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.416666rem solid transparent;
  border-right: 0.416666rem solid transparent;
  border-bottom: 0.416666rem solid #f0f0f0;
  position: absolute;
  top: -0.3rem;
  left: 1.166666rem;
}
/*# sourceMappingURL=style.css.map */
